*{
    margin:0%;
    padding:0%;
}
li{
    list-style-type: none;
    margin: 20px;
}
.inn{
    position: absolute;
    top:150px;
    left: 40px;
    color: aliceblue;
    text-align: center;
     /* background-image: url(coffee.jpg); */
}
#intro{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: larger;
    align-items: center;
}
.out{
    height: 500px;
    background-image: url(cafe.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.out2
{
    height: 500px;
    background-image: url(night.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.logo{
    height: 100px;
    width:100px;
    background-image: url(logo.jpg);
    background-size: cover;
    position: absolute;
    left: 70px;
    top: 40px;
}
.text{
    font-size:x-large;
    margin-top: 2%;
}
a{ 
         text-decoration: none;
         color:white;
}
a:hover{
    font-size: large;
    text-decoration: underline;
}

.container{
background-size: cover;
display: flex;
/* justify-content:center */
}
span{
     position: relative;
    left: 85px;
    top: 10px; 
    font-size: larger;
    font-weight: bolder;
}
button{
    padding: 8px;
    margin-left: 15px;
    border-radius: 10%;
    background-color:#d6e2e9;
}
strike{
    margin-right: 15px;
}
.hh{
    text-align: center;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#hello{
    height: 300px;
}
button:hover{
    background-color: lightsalmon;
    font-size: 12px;
}
.mod{
    display: flex;
    justify-content:center;
    /* text-align: center; */

}
#mod1{
    border: 1px solid lightslategray;
    color: lightslategray;
    margin: 20px;
    position: relative;
    left: 5px;
    padding: 10px;
}
#mod1:hover{
    background-color: lightblue;
    font-size:18px ;
}
#eats{
    margin-left: 15px;
}
footer{
    background-color: #36383E;
    margin-top: 60px;
    height: 250px;
}
.foot{
    display: flex;
    justify-content: space-evenly;
}
#col{
    color: white;
    position: relative;
    top: 20px;
}
#colo{
    color: white;
    position: relative;
    top: 30px;
    left:20px;
    text-align: center;
}           
#bottom{
    color: white;
    position: absolute;
    right: 10px;
}
#btn{
    font-size: xx-large;
}
